$include /etc/inputrc

# better tab completion
bind "set show-all-if-ambiguous on"
bind "set completion-ignore-case on"

# make tab completion treat links as directories
# i.e. adds trailing slash when <tab>-ing
set mark-symlinked-directories on

# disable bell
bind "set bell-style none"

