$include /etc/inputrc

# better tab completion
set show-all-if-ambiguous on
set completion-ignore-case on

# make tab completion treat links as directories
# i.e. adds trailing slash when <tab>-ing
set mark-symlinked-directories on

# disable bell
set bell-style none
